{% extends 'base.html' %}

{% block content %}

<div>

    <aside>
        {% for player in players %}
            <h3><a href="/game/clue/{{ player.id }}">{{ player.name }}</a>, colour {{ player.colour }}</h3>
        {% endfor %}
    </aside>

    <section id="board">

        <div id="grid">
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>

            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>

            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>

            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>

            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>

            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>

            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>

            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
            <div id="size"></div>
            <div id="size-even"></div>
        </div> 

    </section>

</div>
    
{% endblock content %}