{% extends 'base.html' %}

{% block content %}

<section id="board">

    <div id="grid">
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>

        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>

        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>

        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>

        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>

        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>

        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>

        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
        <div id="size"></div>
        <div id="size-even"></div>
    </div> 

</section>

    
{% endblock content %}