<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link CSS to HTML within the head from folder "static" -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Cryptid Board Game</title>
</head>
<body>
    
    <section>
        {% block content %}
            
        {% endblock content %}
    </section>

</body>
</html>